*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    width: 30%;
    height: 70vh;
    margin: auto;
    border: 2px solid red;
    justify-content:center;
    align-items: center;
    
}
.box{
    width: 100px;
    height: 100px;
    border: 2px solid red;
    align-self: center;
    justify-self: center;
}